!!! 5
html(ng-app="plunker.editor")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="I've just made a shiny new Plunk. Check it out:")
    link(rel="publisher",href="https://plus.google.com/117182083134481297227")
    base(href="/edit/")
    block title
      title Plunker
    block styles
      != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js")
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js")
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-sanitize.min.js")
      script(src="http://static.firebase.com/v0/firebase.js")
      script(src="/js/vendor/ace/ace.js")
      script(src="/channel/bcsocket.js")
      script(src="/share/share.js")
      script(src="/share/json.js")
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")},
          "bootstrap": !{JSON.stringify(bootstrap).replace(/<\//g,"<\\/")}
        };
      != js("pages/editor")
      script
        /* Twitter */
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        /* G+ */
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();

        /* Analytics */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28928507-1']);
        _gaq.push(['_setDomainName', 'plnkr.co']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body(ng-controller="editor",itemscope,itemtype="http://schema.org/WebPage")
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand(href="{{url.www}}")
          span.shrink Plunker
            span.version v#{package.version}

        <userpanel></userpanel>
        <plunker-toolbar></plunker-toolbar>

    div#editor(plunker-layout, ng-class="{loading:scratch.loading}")
      div.plnk-overlay
      div.ui-layout-center
        div.ui-layout-center
          <plunker-ace class="editor-canvas"></plunker-ace>
          <plunker-statusbar></plunker-statusbar>


        <plunker-multipanel id="multipanel" class="ui-layout-east" panes="panes"></plunker-multipanel>

      div#multipane-buttons.ui-layout-east
        ul.nav.nav-list
          li.pane-toggle(ng-repeat="panel in panels | orderBy:'order'", ng-class="{active: panels.active==panel}", title="{{panel.title}}")
            a(href="javascript:void(0)", ng-click="togglePanel(panel)")
              i(ng-class="panel.icon")
              span.badge(ng-class="panel.badge.class", ng-show="panel.badge", title="{{panel.badge.title}}") {{panel.badge.value}}
      div.ui-layout-west
        div.plnk-sidebar
          details.file-list(open)
            summary.header Files
              a.file-add(href="javascript:void(0)", ng-click="scratch.promptFileAdd()")
                i.icon-plus
                | New...
            ul.nav.nav-list
              li.file(ng-class="{active:buffer==scratch.buffers.active()}",ng-repeat="buffer in scratch.buffers.queue | orderBy:'filename'")
                a(href="javascript:void(0)", ng-click="scratch.buffers.activate(buffer)", ng-dblclick="scratch.promptFileRename(buffer.filename)") {{buffer.filename}}
                ul.file-ops
                  li.delete
                    button.btn.btn-mini(ng-click="scratch.promptFileRemove(buffer.filename)"): i.icon-remove
                
          details.information(open)
            summary.header Information
            form
              label(for="plnk-description") Description:
              textarea#plnk-description.description(ng-model="scratch.plunk.description",itemprop="name")
              label(for="plnk-tags") Tags:
              input#plnk-tags.tags(ng-model="scratch.plunk.tags", ng-list)

            hr
            div.user(ng-show="scratch.plunk.user")
              img.gravatar(ng-src="http://www.gravatar.com/avatar/{{scratch.plunk.user.gravatar_id}}?s=18&d=mm")
              span.login {{scratch.plunk.user.login}}
        
