!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker - Browse
    block styles
      != css("pages/preview")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      != js("pages/preview")
      script(src="#{url.api}/session?callback=plunker.session.start&sessid=#{sessid}")
      script
        plunker.router.map(!{JSON.stringify(url)});

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          div#userpanel.pull-right
            div.btn-group
              button.btn.dropdown-toggle(data-toggle="dropdown")
                i.icon-user
                span.text Sign in
                span.caret
              ul.dropdown-menu
                li
                  a.github(href="/auth/github")
                    i.icon-github-sign
                    span Github

          div.nav-collapse
            ul.nav
              li.preview.active: a(href="#preview") Preview
              li.code: a(href="#code") Code
              li.divider-vertical
              li.dropdown.operations
                a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown") Operations
                  b.caret

    div#preview
      iframe#preview-frame(src=plunk.raw_url)
    div#container.container
