!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker - Preview
    block styles
      != css("pages/preview")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      != js("pages/preview")
      script
        plunker.bootstrap({
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")},
          "plunk": new plunker.Plunk(!{JSON.stringify(plunk).replace(/<\//g,"<\\/")})
        });
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28928507-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          div#userpanel.pull-right
            div.btn-group
              button.btn.dropdown-toggle(data-toggle="dropdown")
                i.icon-user
                span.text Sign in
                span.caret
              ul.dropdown-menu
                li
                  a.github(href="/auth/github")
                    i.icon-github-sign
                    span Github

          div.nav-collapse
            ul.nav
              li.preview: a(href="/#{plunk.id}")
                i.icon-play
                | Preview
              li.code: a(href="/#{plunk.id}/code")
                i.icon-book
                | Code
              li.fullscreen: a(href="#{plunk.raw_url}")
                i.icon-fullscreen
                | Fullscreen
              li.divider-vertical
              li.dropdown.operations
                a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
                  i.icon-cogs
                  | Operations
                  b.caret
                ul#operations.dropdown-menu
    div#pages
      div.page.preview#preview
      div#container.page.code.container
        div#code.page-header
          h1 Plunk #{plunk.id}
            |   
            small=plunk.description || "Untitled"
        div.row
          div.span3
            h2 Skip to file...
            div#file-list.well(style="padding: 8px 0;")
              ul.nav.nav-list
                li.nav-header Files
                  for file, filename in plunk.files
                    li: a(href="##{filename.replace(/[^a-z0-9-]/ig,"-")}")=filename
          div.span9

            for file, filename in plunk.files
              h2(id="#{filename.replace(/[^a-z0-9-]/ig,"-")}")=filename
              pre.prettyprint.linenums=file.content
