!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker - Preview
    block styles
      != css("pages/preview")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      != js("pages/preview")
      script(src="#{url.api}/session?callback=plunker.session.start&sessid=#{sessid}")
      script
        plunker.router.map(!{JSON.stringify(url).replace(/<\//g,"<\\/")});
        plunker.models.plunk = new plunker.Plunk(!{JSON.stringify(plunk).replace(/<\//g,"<\\/")});

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          div#userpanel.pull-right
            div.btn-group
              button.btn.dropdown-toggle(data-toggle="dropdown")
                i.icon-user
                span.text Sign in
                span.caret
              ul.dropdown-menu
                li
                  a.github(href="/auth/github")
                    i.icon-github-sign
                    span Github

          div.nav-collapse
            ul.nav
              li.preview: a(href="#preview") Preview
              li.code: a(href="#code") Code
              li.divider-vertical
              li.dropdown.operations
                a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown") Operations
                  b.caret
                ul#operations.dropdown-menu
    div#pages
      div.page.preview#preview
        iframe#preview-frame(frameborder="0", height="100%", width="100%", src=plunk.raw_url)
      div.page.code#container.container
        div.page-header
          h1 Plunk #{plunk.id}
            |   
            small=plunk.description || "Untitled"
        div.row
          div.span3
            div#file-list
              ul.nav.nav-list
                li.nav-header Files
                  for file, filename in plunk.files
                    li: a(href="##{filename.replace(/[^a-z0-9-]/ig,"-")}")=filename
          div.span9(data-spy="scroll",data-target="#file-list",data-offset="50")
            for file, filename in plunk.files
              h2(id="#{filename.replace(/[^a-z0-9-]/ig,"-")}")=filename
              pre.prettyprint.linenums=file.content
